body {
	font-family: Tahoma, Arial, sans-serif;
	font-size: 16px;
}

#container {
	margin: auto;
	width: 80%;
	max-width: 1050px;
	min-width: 350px;
}

#header {
	background-color: #3586d8;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	margin: 0;
}

.title {
    font-size: 2rem;
    font-weight: bold;
    color: #FFF;
    margin: 10px 1rem;
    padding-top: 1rem;
    text-shadow: #000 1px 2px;
}

.navigation {
	background: #143352;
	height: 32px;
	padding: 5px 0;
	margin: 0;
	border-bottom: 2px solid #000;
}

.navigation li {
	display: inline-block;
	margin: 5px;
	list-style: none;
	font-size: 1.1rem;
}

.navigation li .first {
	margin-left: 1rem;
}

.navigation li a, .navigation li a:visited {
    padding: 5px;
    text-decoration: none;
    color: #FFF;
    font-weight: bold;
    border-radius: 10px;
}

.navigation li a:hover {
    color: #111;
    background-color: #CCC;
}
